body {
    display: inline;
}

button {
        background-color: black;
        color: white;
    }
    
.select-panel {
    display: none;
}

.btn-container {
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .select-panel {
        display: block
    }
    .select-panel {    
        background-color: black;
        color: white;
    }    
    .button {
        display: none;
    }  
}